<%= erb :'shared/_heading', locals: {identifier: @id_and_path} %>

<div class="row col-md-12">
  <%= erb :'shared/_identifier_data', locals: {text: 'Max. response time for this URL:', data: @max_url_response_time, type: 'ms'} %>
  <%= erb :'shared/_identifier_data', locals: {text: 'Min. response time for this URL:', data: @min_url_response_time, type: 'ms'} %>
  <%= erb :'shared/_identifier_data', locals: {text: 'Avg. response time for this URL:', data: @avg_url_response_time, type: 'ms'} %>
</div>

<div class="row col-md-12">
  <%= erb :'shared/_identifier_data_list', locals: {text: 'All response times for this URL, sorted shortest to longest:', data: @all_url_response_times} %>
  <%= erb :'shared/_identifier_data_list', locals: {text: 'Request types (verbs) to thie URL:', data: @url_verbs} %>
</div>

<div class="row col-md-12">
  <%= erb :'shared/_identifier_data_list', locals: {text: 'Three most popular referrers:', data: @url_top_three_refers} %>
  <%= erb :'shared/_identifier_data_list', locals: {text: 'Three most popular user agents:', data: @url_top_three_agents} %>
</div>

<div class="row col-md-12">
  <div class="col-md-2 col-md-offest-5">
    <a href="/sources/<%= @identifier %>">Back</a>
  </div>
</div>
