<h1>This is an index</h1>
<h2>Average response time across all requests <%= @average %></h2>
<h2>Max response time across all requests <%= @max %></h2>
<h2>Min response time across all requests <%= @min %></h2>
<h2>Most frequent request type <%= @most_frequent %></h2>
<h2>All request types <%= @verbs %></h2>
<h2>All requested urls from most to least <%= @requested_urls %></h2>
<h2>All browsers <%= @user_agent_browsers %></h2>
<h2>All operating systems <%= @user_agent_op_systems %></h2>
<h2>All screen resolutions <%= @resolutions %></h2>
<h2>All relative paths <%= @paths %></h2>
